soa-cap07-wsaddressing-servidor/src/main/webapp/WEB-INF/contracts/AutoresService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="http://knight.com/estoque/services/AutoresService/v1"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl"
	xmlns:wsp="http://www.w3.org/ns/ws-policy" name="AutoresService"
	targetNamespace="http://knight.com/estoque/services/AutoresService/v1">
	<wsdl:types>
		<xsd:schema targetNamespace="http://knight.com/estoque/services/AutoresService/v1"
			xmlns:estoque="http://knight.com/estoque/domain/v1">
			<xsd:import namespace="http://knight.com/estoque/domain/v1"
				schemaLocation="../schemas/estoque_v1_0.xsd" />
			<xsd:element name="listarAutores">
				<xsd:complexType />
			</xsd:element>
			<xsd:element name="listarAutoresResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="autor" type="estoque:autor"
							maxOccurs="unbounded" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="solicitarRelacaoDeAutores">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="desde" type="xsd:date" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="solicitarRelacaoDeAutoresResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="autor" type="estoque:autor"
							maxOccurs="unbounded" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="listarAutoresRequest">
		<wsdl:part element="tns:listarAutores" name="parameters" />
	</wsdl:message>
	<wsdl:message name="listarAutoresResponse">
		<wsdl:part element="tns:listarAutoresResponse" name="parameters" />
	</wsdl:message>
	<wsdl:message name="solicitarRelacaoDeAutoresRequest">
		<wsdl:part element="tns:solicitarRelacaoDeAutores" name="parameters" />
	</wsdl:message>
	<wsdl:message name="solicitarRelacaoDeAutoresResponse">
		<wsdl:part element="tns:solicitarRelacaoDeAutoresResponse"
			name="parameters" />
	</wsdl:message>
	<wsdl:portType name="AutoresService">
		<wsdl:operation name="listarAutores">
			<wsdl:input message="tns:listarAutoresRequest" />
			<wsdl:output message="tns:listarAutoresResponse" />
		</wsdl:operation>
		<wsdl:operation name="solicitarRelacaoDeAutores">
			<wsdl:input message="tns:solicitarRelacaoDeAutoresRequest"
				wsam:Action="AutoresService/solicitarRelacaoDeAutores" />

			<wsdl:output message="tns:solicitarRelacaoDeAutoresResponse"
				wsam:Action="AutoresService/solicitarRelacaoDeAutoresResponse" />
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="AutoresServiceSOAP" type="tns:AutoresService">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="listarAutores">
			<soap:operation soapAction="" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>

		<wsdl:operation name="solicitarRelacaoDeAutores">
			<soap:operation soapAction="" />
			<wsaw:UsingAddressing />
			<wsp:PolicyReference
				URI="#WSAddressingAutoresServiceSoapBinding_WSAM_Addressing_Policy" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="AutoresService">
		<wsdl:port binding="tns:AutoresServiceSOAP" name="AutoresServiceSOAP">
			<soap:address location="http://localhost:8080/AutoresService" />
		</wsdl:port>
	</wsdl:service>

	<wsp:Policy
		xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
		wsu:Id="WSAddressingAutoresServiceSoapBinding_WSAM_Addressing_Policy">
		<wsam:Addressing wsp:Optional="true">
			<wsp:Policy />
		</wsam:Addressing>
	</wsp:Policy>
</wsdl:definitions>
