soa-cap06-estoque/src/main/webapp/WEB-INF/wsdl/AutoresService.wsdl


<wsdl:definitions name="AutoresServiceService"
	targetNamespace="http://servicos.estoque.knight.com/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://servicos.estoque.knight.com/"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy"
	xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
	xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702">
	<wsdl:types>
		<xs:schema elementFormDefault="unqualified"
			targetNamespace="http://servicos.estoque.knight.com/" version="1.0"
			xmlns:tns="http://servicos.estoque.knight.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
			<xs:element name="listarAutores" type="tns:listarAutores" />
			<xs:element name="listarAutoresResponse" type="tns:listarAutoresResponse" />
			<xs:complexType name="listarAutores">
				<xs:sequence />
			</xs:complexType>
			<xs:complexType name="listarAutoresResponse">
				<xs:sequence>
					<xs:element maxOccurs="unbounded" minOccurs="0" name="autor"
						type="tns:autor" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="autor">
				<xs:sequence>
					<xs:element minOccurs="0" name="dataNascimento" type="xs:anySimpleType" />
					<xs:element minOccurs="0" name="id" type="xs:long" />
					<xs:element minOccurs="0" name="nome" type="xs:string" />
				</xs:sequence>
			</xs:complexType>
		</xs:schema>
	</wsdl:types>
	<wsdl:message name="listarAutoresResponse">
		<wsdl:part element="tns:listarAutoresResponse" name="parameters">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="listarAutores">
		<wsdl:part element="tns:listarAutores" name="parameters">
		</wsdl:part>
	</wsdl:message>
	<wsdl:portType name="AutoresService">
		<wsdl:operation name="listarAutores">
			<wsdl:input message="tns:listarAutores" name="listarAutores">
			</wsdl:input>
			<wsdl:output message="tns:listarAutoresResponse" name="listarAutoresResponse">
			</wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="AutoresServiceServiceSoapBinding"
		type="tns:AutoresService">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsp:PolicyReference URI="#DefaultSecureServicePolicy" />
		<wsdl:operation name="listarAutores">
			<soap:operation soapAction="" style="document" />
			<wsdl:input name="listarAutores">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="listarAutoresResponse">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="AutoresServiceService">
		<wsdl:port binding="tns:AutoresServiceServiceSoapBinding"
			name="AutoresServicePort">
			<soap:address
				location="ADDRESS" />
		</wsdl:port>
	</wsdl:service>
	
	<wsp:Policy wsu:Id="DefaultSecureServicePolicy">
		<wsp:ExactlyOne>
			<wsp:All>
				<sp:TransportBinding>
					<wsp:Policy>
						<sp:TransportToken>
							<wsp:Policy>
								<sp:HttpsToken RequireClientCertificate="false" />
							</wsp:Policy>
						</sp:TransportToken>
						<sp:Layout>
							<wsp:Policy>
								<sp:Lax />
							</wsp:Policy>
						</sp:Layout>
						<sp:IncludeTimestamp />
					</wsp:Policy>
				</sp:TransportBinding>
				<sp:SignedSupportingTokens>
					<wsp:Policy>
						<sp:UsernameToken
							sp:IncludeToken="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702/IncludeToken/AlwaysToRecipient">
							<wsp:Policy>
								<sp:HashPassword/>
							</wsp:Policy>
						</sp:UsernameToken>
					</wsp:Policy>
				</sp:SignedSupportingTokens>
			</wsp:All>
		</wsp:ExactlyOne>
	</wsp:Policy>
</wsdl:definitions>