soa-cap03-parte2/src/main/webapp/WEB-INF/wsdl/livros.wsdl

<definitions
	xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
	xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy"
	xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="http://servicos.estoque.knight.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://servicos.estoque.knight.com/"
	name="ListagemLivrosService">
	<types>
		<xsd:schema>
			<xsd:import namespace="http://servicos.estoque.knight.com/"
				schemaLocation="livros.xsd" />
		</xsd:schema>
	</types>
	<message name="listarLivrosPaginacao">
		<part name="parameters" element="tns:listarLivrosPaginacao" />
	</message>
	<message name="listarLivrosPaginacaoResponse">
		<part name="parameters" element="tns:listarLivrosPaginacaoResponse" />
	</message>
	<message name="listarLivros">
		<part name="parameters" element="tns:listarLivros" />
	</message>
	<message name="listarLivrosResponse">	
		<part name="parameters" element="tns:listarLivrosResponse" />
	</message>
	<message name="criarLivro">
		<part name="parameters" element="tns:criarLivro" />
	</message>
	<message name="criarLivroResponse">
		<part name="parameters" element="tns:criarLivroResponse" />
	</message>
	<portType name="ListagemLivros">
		<operation name="listarLivrosPaginacao">
			<input
				wsam:Action="http://servicos.estoque.knight.com/ListagemLivros/listarLivrosPaginacaoRequest"
				message="tns:listarLivrosPaginacao" />
			<output
				wsam:Action="http://servicos.estoque.knight.com/ListagemLivros/listarLivrosPaginacaoResponse"
				message="tns:listarLivrosPaginacaoResponse" />
		</operation>
		<operation name="listarLivros">
			<input
				wsam:Action="http://servicos.estoque.knight.com/ListagemLivros/listarLivrosRequest"
				message="tns:listarLivros" />
			<output
				wsam:Action="http://servicos.estoque.knight.com/ListagemLivros/listarLivrosResponse"
				message="tns:listarLivrosResponse" />
		</operation>
		<operation name="criarLivro">
			<input
				wsam:Action="http://servicos.estoque.knight.com/ListagemLivros/criarLivroRequest"
				message="tns:criarLivro" />
			<output
				wsam:Action="http://servicos.estoque.knight.com/ListagemLivros/criarLivroResponse"
				message="tns:criarLivroResponse" />
		</operation>
	</portType>
	<binding name="ListagemLivrosPortBinding" type="tns:ListagemLivros">
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http"
			style="document" />
		<operation name="listarLivrosPaginacao">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
		<operation name="listarLivros">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
		<operation name="criarLivro">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
	</binding>
	<service name="ListagemLivrosService">
		<port name="ListagemLivrosPort" binding="tns:ListagemLivrosPortBinding">
			<soap:address location="FILL_ME" />
		</port>
	</service>
</definitions>